/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 12px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	font-family: Arial, sans-serif;
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	height: 100%;
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v3/UyYrYy3ltEffJV9QueSi4RdbPw3QSf9R-kE0EsQUn2A.woff) format('woff');
}

/* Tag re-writes */
h2, h3, h4, h5, h6 {
	font-family: 'PT Sans Narrow','Arial Narrow',Arial, sans-serif;
	color: #9a3334;
	border-bottom: 1px solid #ccc;
}
h2 {
	font-size: 17px;
}
h3 {
	font-size: 14px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
h4 {
	font-size: 11px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
a {
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: underline;
}
b, strong {
	font-weight: bold;
}
em, i {
	font-style: italic;
}
ol, ul, dl {
	margin-bottom: 1em;
}
ul {
	margin-left: 1.25em;
}
ol {
	margin-left: 1.5em;
}
dl dt {
	font-weight: bold;
}
dl dd {
	margin-left: 1em;
}
blockquote {
	margin: 1em;
	color: inherit;
}
pre {
	font-family: monospace;
	white-space: pre;
	margin-bottom: 1em;
}
code {
	font-family: monospace;
	white-space: pre;
	padding: 0.5em;
	display: block;
	border: 1px solid #ccc;
	background: #f2f2f2;
	margin-bottom: 1em;
}











/* Generic Styles */
.element-invisible {
	position: absolute;
	left: -9999px;
}
.element-focusable:focus {
	top: 0;
	left: 0;
	text-align: center;
	background: #fff;
	color: #000;
	text-decoration: none;
}
div.node-content {
	font-size: 12px;
}



/* ############################################################################
####
#### Page Elements
# */
/* Overall container */
div#page.container {
	width: 100%;
	min-height: 100%;
	position: relative;
}

/* Messages area */
div#messages {
	margin: 0 auto;
	display: none;
}
div#messages div.messages {
	margin: 0 auto;
	width: 980px;
	padding: 20px;
	border: 2px solid #ff6666;
	background: #fcc;
}

/* Header */
header#header {
	background: #9a3334;
	color: #fff;
}
header#header div#header-container {
	margin: 0 auto;
	width: 960px;
	color: #fff;
	padding: 0;
}
header#header div.region-header-first {
	display: none;
}
header#header div.region-header-second {
	width: 65%;
}
header#header div.region-header-third {
	float:right;
}
/* Spacing between blocks in right column of header */
header#header div.region-header-third div.block {
	margin-bottom: 1em;
}
header#header div.region-header-third div.block:first-child {
	margin-top: 1em;
}

/* Other header styles */
header#header div.region-inner {
	padding-top: 0;
}
header#header div#header-container h1 {
	font-size: 20px;
	padding-top: 20px;
}
header#header div#header-container a {
	color: #fff;
	text-decoration: none;
}
header#header div#boxes-box-site_info p,
header#header div#boxes-box-site_info h2 {
	display: none;
}
header#header form#search-block-form {
	padding: 0;
}

/* Menu bar */
div#menu-bar {
	background-image: url('/profiles/openscholar/themes/custom/mit_informatics/images/gradient_menu.png'); 
	background-position: center top;
	background-repeat: repeat-x;
	box-shadow: 0px 2px 5px 0 #eee;
	height: 50px;
	margin-bottom: 10px;

}
div#menu-bar nav#block-os-primary-menu {
	margin: 0 auto;
	width: 960px;
}
div#menu-bar nav#block-os-primary-menu li {
	list-style-type: none;
	display: inline-block;
}
div#menu-bar nav#block-os-primary-menu li a {
	height: 100%;
	display: inline-block;
	padding: 18px 10px;
	font-size: 15px;
	color: #676767;
	text-decoration: none;
}
div#menu-bar nav#block-os-primary-menu li a:hover,
div#menu-bar nav#block-os-primary-menu li a:focus {
	background: #676767;
	color: #fff;
}


div#columns {
	background: #fff;
	padding-bottom: 73px; /* Size of the footer, plus 15px */
	line-height: 1.1em;
}
div#columns div.hg-container {
	margin: 0 auto;
	width: 940px;
/*	background: url("/profiles/openscholar/themes/custom/mit_informatics/images/16_col.gif") repeat scroll center top #FFFFFF; */
}
/* Now we start beating on the original CSS to achieve our desired layout */
/* div#content-column becoms the top row */
body.front div#columns div#content-column div.content-inner {
	margin: 0;
}
body.front div#columns div#content-panels div.region {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
}
/* Styles for all regions */
div#columns div#content-column div.content-inner {
	padding: 0;
}
div#columns div#content-panels div.region div.block-inner {
	margin: 0;
}
/* Region-specific styles */
body.front div#columns div#content-panels div.region-content-top {
	background-color: #e6e6e6;
	margin: 1em -1em;
	padding: 1em;
}
body.front div#columns div#content-panels div.region-content-top div.region-inner {
	padding-top: 0;
}
body.front div#columns div#content-panels div.region-content-first {
	width: 220px;
	margin-right: 10px;
}
body.front div#columns div#content-panels div.region-content-second {
	width: 460px;
	margin: 0 10px;
}
body.front div#columns div#content-panels div.region-content-bottom {
	width: 220px;
	margin-left: 10px;
}
div.region-content-first .block-boxes,
div.region-content-second .block-boxes,
div.region-content-bottom .block-boxes,
div.region .block-views {
	margin-bottom: 1em;
}

/* Panel-specific styles */
/* Feature Project tabs */
body.front div#columns div#content-column div.content-inner section#block-boxes-1362682820 {
	display: inline-block;
	width: 940px;
	vertical-align: top;
}
body.front div#columns div#content-column div.content-inner section#block-boxes-1362682820 div.block-inner {
	margin: 0;
}
body.front div#columns div#content-column div.content-inner section#block-boxes-1362682820 div.block-inner h2.block-title {
	display: inline-block;
	width: 270px;
	color: #fff;
	background-color: #9a3334;
	border-bottom: none;
	padding: 5px;
	font-size: 20px;
	margin: 0 10px 0 0;
}
/* Feature image - the Dome */
body.front div#columns div#content-column div.content-inner div#block-boxes-1362673486 {
	display: inline-block;
	width: 280px;
	margin-left: 10px;
}
body.front div#columns div#content-column div.content-inner div#block-boxes-1362673486 div.block-inner {
	margin: 0;
}




footer#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 58px;
	background: #676767;
	font-size: 12px;
}
footer#footer a {
	color: white;
}
footer#footer div.at-panel {
	width: 960px;
	margin: 0 auto;
}
footer#footer div.region-inner {
	padding-top: 0; /* override default behavior to get logo to sit correctly */
}
/* MIT Branding styles */
footer#footer div#boxes-box-1368453195 div.mit img {
	background: #fff; /* MIT logo is clear background - set to white */
	float: left;
	padding: 11px;
}
footer#footer div#boxes-box-1368453195 div.libraries img {
	background: none; /* MIT logo is clear background - set to white */
	float: left;
	padding: 15px;
}
footer#footer div#boxes-box-1368453195 p {
	/* Center institution names vertically, technique from 
	http://phrogz.net/css/vertical-align/index.html 
	*/
	position: absolute;
	top: 50%;
	margin-top: -12px;
	/* push names past the image */
	margin-left: 180px;
}
/* Contact Us styles */
footer#footer div#boxes-box-1368464738 div.boxes-box-content {
	height: 58px;
}
footer#footer div#boxes-box-1368464738 p {
	/* Center institution names vertically, technique from 
	http://phrogz.net/css/vertical-align/index.html 
	*/
	position: absolute;
	top: 50%;
	margin-top: -6px;

	text-align: right;
}
footer#footer div#powerby-login {
	margin: 0 auto;
	width: 980px;
}



div#tabs {
	padding: 0;
	font-size: 12px;
	width: 100%;
	background: none;
}
div#tabs ul.ui-tabs-nav {
	padding: 0;
	display: inline-block;
	width: 280px;
	border: none;
}
div#tabs ul.ui-tabs-nav li {
	background: none;
	border: none;
}
div#tabs ul.ui-tabs-nav li a {
	width: 96%;
	padding: 2%;
	border-top: 1px solid #ccc;
}
div#tabs ul.ui-tabs-nav li.ui-state-active a {
	background: #676767;
	color: #fff;
}
div#tabs ul.ui-tabs-nav li:first-child a {
	border-top: none;
}
div#tabs ul.ui-tabs-nav li a:hover,
div#tabs ul.ui-tabs-nav li a:focus {
	background: #ccc;
	color: #000;
}
div#tabs div.ui-tabs-panel {
	display: inline-block;
	width: 640px;
	padding: 0;
	margin-top: -27px;
	height: 210px;
	background: none;
	border-top: none;
}
div#tabs div.ui-tabs-panel div.text {
	width: 340px;
	margin-right: 10px;
	display: inline;
	float: left;
}
div#tabs div.ui-tabs-panel div.logo {
	width: 280px;
	margin-left: 10px;
	display: inline;
	float: left;
}

.ui-tabs-vertical {width:100%;}
.ui-tabs-vertical .ui-tabs-nav { float: left; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { float: right; }

/* Typography elements */
div#columns div#content-column {
	font-size: 12px;
}
div#columns div#content-column p {
	margin: 0 0 1em 0;
}
div#columns div#content-column a {
	font-weight: bold;
}
div#columns div#content-column h1#page-title {
	margin-top: 0.5em;
	font-size: 28px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', 'Arial Narrow', 'Arial', sans-serif;
	color: #9a3334;
	line-height: 1em;
}
body.front div#columns div#content-panels div.region h2,
body.not-front div#columns div.region h2 {
	font-size: 17px;
	color: #9a3334;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', 'Arial Narrow', 'Arial', sans-serif;
	padding-bottom: 0.25em;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0.5em;
}

/* Front page events list shouldn't have border lines between events */
body.front .view-os-events ul li {
	border-bottom: none;
}

body.front div#box-os_news_latest-page h1 {
	font-size: 12px; /* This is the teaser headline under "Latest News" - should match other headlines in size */
}
body.front div#box-os_news_latest-page article nav.clearfix {
	display: none; /* This is a duplicate "read more" link, unneeded because the article title links to the article as well. */
}

body .feed_item span {
	font-style: normal; 
}
body .feed_item a.title {
	font-family: 'PT Sans Narrow','Arial Narrow',Arial, sans-serif;
	color: #9a3334;
	border-bottom: 1px solid #ccc;
	display: block;
	font-size: 14px;
}

/* Blog page styles */
div#content div.view-os-blog h2 a {
	color: #9a3334;
	font-weight: normal;
}
.view-os-blog .views-row {
	margin-bottom: 3em;
}